p.program{
	color: yellow;
	background-color: orange;
	text-align: left;
	
}


p.thoughts{
	color:white;
	background-color: blue;
    text-align: right;
}
p.me{
	border: 3px solid green;
	color: white;
	background-color: blue;
	text-align: center;
}

p.text{
	color: white;
	background-color: blue;
	text-align: left;
}
body{
	border: 1px solid green;
	background-color: black;
	
}
h1{
	background-color:blue;
	text-align: left;
	color: white;
	font-family: arial;
	font-size: 22px;
}
h2{
	color: white;
	background-color: blue;
	text-align: left;
}
a{ 
    text-decoration:none;
}